
body
{
	background-color: #006699;
}
.navigationbar {

list-style-type: none;
padding-left: 0px;
padding-right: 0px;
background: #B2CCCC;
width: 100px;
height:100%;
margin: 0;
padding: 5em, 0em, 5em, 0em;

}
.navigationbar li 
{

}
.navigationbar li a 
{
	display: block;
	padding: 20px;
	text-align: center;
}

.socialBox
{
	position: bottom;
}